<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>    
<body style="background-color: rgb(247, 235, 222);">
    <nav th:replace="fragments/fragment :: navbar('')"></nav>

    <div class="d-flex justify-content-center">
        <div class="m-4">
            <div class="card m-4 p-4" style="background-color: rgb(100, 80, 53);border-radius: 1rem;">
                    <h2 style="font-size:4rem;color:white;text-align: center;">WELCOME TO BOBAXIXIXI!</h2>
            </div>
            <br>
            <h3 style="color:rgb(100, 80, 53); font-size: 3rem;text-align: center;">List of Feature</h3>
            <div class="my-3 d-flex justify-content-center">
                <a th:href="@{/store}" class="mx-2 btn" style="background-color:rgb(100, 80, 53);color: white; font-size: 2rem;">Store</a>
                <a th:href="@{/boba}" class="mx-2 btn" style="background-color:rgb(100, 80, 53);color: white; font-size: 2rem;">Boba Tea</a>
                <a th:href="@{/search}" class="mx-2 btn" style="background-color:rgb(100, 80, 53);color: white; font-size: 2rem;">Search</a>
                <a th:href="@{/filter}" class="mx-2 btn" style="background-color:rgb(100, 80, 53);color: white; font-size: 2rem;">Filter</a>
            </div>
        </div>
    </div>
</body>
</html>