<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BOBAXIXIXI</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>    
<body style="background-color: rgb(247, 235, 222);">
<nav th:replace="fragments/fragment :: navbar('store')"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Store Detail</h2>
                <br>
                <p th:text="'Store Name   : ' + ${store.name}"></p>
                <p th:text="'Store Code   : ' + ${store.storeCode}"></p>
                <p th:text="'Address  : ' + ${store.address}"></p>
                <p th:text="'Open Hour: ' + ${store.openHour}"></p>
                <p th:text="'Close Hour: ' + ${store.closeHour}"></p>
                <p th:text="'Manager: ' + ${store.manager.fullName}"></p>

                <br><hr>
                <div class="col">
                    <h4>Boba Tea : </h4>
                    <a class="btn btn-primary" th:href="@{/store/{id}/assign-boba(id=${store.id})}">Assign Boba Tea</a>
                    <hr>
                    <div th:if="*{bobaTea.size() != 0}">
                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Size</th>
                                    <th>Ice</th>
                                    <th>Sugar</th>
                                    <th>topping</th>
                                </tr>    
                            </thead>
                            <tbody>

                                <tr th:each="boba, iterationStatus : ${bobaTea}"
                                    th:style="${iterationStatus.even} ? 'background-color: #f2f2f2;'">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${boba.name}"></td>
                                    <td th:text="${boba.price}"></td>
                                    <td th:switch="${boba.size}">
                                        <p th:case="0">Small</p>
                                        <p th:case="1">Medium</p>
                                        <p th:case="2">Large</p> 
                                    </td>
                                    <td th:switch="${boba.iceLevel}">
                                        <p th:case="0">Less</p>
                                        <p th:case="1">Normal</p>
                                        <p th:case="2">Extra</p> 
                                    </td>
                                    <td th:switch="${boba.sugarLevel}"> 
                                        <p th:case="0">Less</p>
                                        <p th:case="1">Normal</p>
                                        <p th:case="2">Extra</p> 
                                    </td>
                                    <td  th:if="!${boba.topping}" th:text="'no topping'"></td>
                                    <td  th:if="${boba.topping}" th:text="${boba.topping.name}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:unless="*{bobaTea.size() != 0}">
                        <h2 th:text="'This Store Does Not Assign Any Boba Tea'"></h2>
                    </div>
                </div>
                <a class="btn btn-primary" href="/store">Back</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>